@import 'tailwindcss';
@config '../tailwind.config.js';

@layer base {
  :root {
    --color-background: #f8f3ec;
    --color-primary: #51301f;
    --color-accent: #e1937d;
    --color-secondary: #aa8867;
    --color-surface: #ffffff;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased bg-warm-beige text-dark-chocolate;
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-cappuccino;
  }
}